<ion-header class="ion-no-border header-style" color="default">
  <ion-toolbar class="no-border header" >
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="../../../assets/images/profile.png">
    </ion-avatar>
    <ion-label>
      <p>Hello,</p>
      <h3>{{fn}}</h3>
    </ion-label>
  </ion-item>

    <ion-buttons slot="end" (click)="signOut()">
      <ion-button class="bordered" fill="solid" style="--background: blue;">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <div class="logo"></div>
</ion-header>


<ion-content class="content-style" >

  <!-- <ion-card >
    <ion-grid class="ion-no-padding" >
      <ion-row >
        <ion-col class="bg-primary">
          <ion-item>
            <form style="width: 100%;">
              <ion-item class="ion-no-padding">
                <ion-label slot="start">Full Name</ion-label>
                <ion-label slot="end">{{full_name}}</ion-label>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label  slot="start">Address</ion-label>
                <ion-textarea
                  name="inputAddress"
                  id="inputAddress"
                  ngModel
                  #inputAddress ="ngModel"
                  placeholder="Enter more information here..."
                  (ionicChange)="validateInput()"
                  required
                  ></ion-textarea>
                <div *ngIf="inputAddress.touched && !inputAddress.valid " >{{addressErrorMessage}} kkkk</div>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label   slot="start">Contact Number</ion-label>
                <ion-label slot="end">{{contact_number}}</ion-label>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label   slot="start">Total Quantity</ion-label>
                <ion-label slot="end">{{len}}</ion-label>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label  slot="start">Delivery Date</ion-label>
                <ion-datetime
                  slot="end"
                  placeholder="Select Date"
                  name="myDate"
                  ngModel
                  #myDate = "ngModel"
                  id="myDate"
                  (ionChange)="validateInput()"
                  required
                  ></ion-datetime>

              </ion-item>

              <ion-item class="ion-no-padding">
                <ion-label  slot="start">Mode of Payment</ion-label>
                <ion-input  slot="end">{{modeOfPayment}}</ion-input>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label position="fixed" slot="start" >Grand Total</ion-label>

                <ion-label slot="end">{{grandTotal}}</ion-label>
              </ion-item>
              <ion-button  expand="full" size="large" color="warning"  (click)="gotToProductList()"> <ion-icon name="cart-outline"></ion-icon>Add Item</ion-button>
              <ion-button  expand="full" size="large" (click)="gotToTransaction()"> <ion-icon name="cart-outline"></ion-icon>Buy</ion-button>
            </form>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->
<!--hello-->
<form [formGroup]="ionicForm" (ngSubmit)="gotToTransaction()" novalidate>
  <ion-list style="background: #0000ff!important;margin-top:0!important">
    <ion-list-header class="center-list-header">
      <ion-label>Order Product List</ion-label>
    </ion-list-header>
    <ion-item  *ngIf="items.length < 0 ; else notEmpty">

      <ion-badge color="danger" style="margin: 0 auto;">No Data Found</ion-badge>
    </ion-item>
    <ng-template #notEmpty>
      <ion-item lines="none" *ngFor="let product of items; let i = index ">
        <ion-avatar slot="start">
          <img src="{{product.product_image}}" >
        </ion-avatar>
        <ion-label slot="start">
          <ion-text color="primary">
            <h3>{{product.product_name}}</h3>
          </ion-text>
          <ion-badge slot="start">{{product.price}}</ion-badge>
        </ion-label>
        <ion-button color="danger" >
          <ion-label (click)="deleteItem(product)"> <ion-icon name="close-outline"></ion-icon>Delete</ion-label>
        </ion-button>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Full Name</ion-label>
        <ion-input readonly="true" class="primary" formControlName="name" type="text" value="{{full_name}}" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Complete Address</ion-label>
        <ion-textarea formControlName="address" autofocus="true"
        clearInput="true" type="text"  required></ion-textarea>
        <div *ngIf="(address.dirty || address.touched) && address.errors" class="errors">
          <span *ngIf="address.errors?.required">Address is required</span>
        </div>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Delivery Date</ion-label>
        <ion-datetime autofocus="true" clearInput="true" formControlName="dateDelivery" ></ion-datetime>
        <div *ngIf="(dateDelivery.dirty || dateDelivery.touched) && dateDelivery.errors" class="errors">
          <span *ngIf="dateDelivery.errors?.required">Delivery Date is required</span>
        </div>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Contact Number</ion-label>
        <ion-input formControlName="contactNumber" autofocus="true" clearInput="true" type="number" required></ion-input>
        <div *ngIf="(contactNumber.dirty || contactNumber.touched) && contactNumber.errors" class="errors">
          <span *ngIf="contactNumber.errors?.required">Contact Number is required</span>
        </div>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Mode of Payment</ion-label>
        <ion-input readonly="true" class="primary" formControlName="mode" type="text" value="{{modeOfPayment}}" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Grand Total </ion-label>
        <ion-input readonly="true" color="danger" formControlName="total" type="text"  value="{{grandTotal}}" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="warning"  (click)="gotToProductList()" expand="block">Add Order</ion-button>
          <ion-button type="submit" color="primary"  expand="block">Submit Order</ion-button>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-list>
<ion-list style="margin-bottom: 300px;">

</ion-list>
</form>
</ion-content>

