img{

}

.margin-bt {
  margin-bottom: 72px;
}


.position-container{
  position: absolute;
  top: -6%;
  left: 64%;
  height: 25px;
}

.overFlow-style{
  overflow: visible;
}

.no-box-shadow {
  --box-shadow: none;
}
