<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="secondary">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
       Profile
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../../../assets/images/building.jpg"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="./../../../assets/images/building.jpg" alt="">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">Roger Federer</h3>
          <h5 class="country">Antipolo CIty</h5>
          <h5 class="country">09274223434</h5>
          <!-- <h6 class="ranking">Current ranking: <ion-chip>
              <ion-label>2</ion-label>
            </ion-chip>
          </h6> -->
        </div>
        <ion-button expand="full" color="secondary">LogOut</ion-button>

      </div>
    </div>
</ion-content>
