<ion-header class="ion-no-border header-style" color="default">
  <div class="logo"></div>
</ion-header>

<ion-content fullscreen="true" slot="fixed" class="content-style" >
    <div class="card">
      <div class="header">
        <div class="avatar" >
          <ion-avatar>
          <img src="./../../../assets/images/profile.png" alt="">
        </ion-avatar>
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">{{fn}}</h3>
          <h5 class="country">{{e}}</h5>
          <h5 class="country">{{cn}}</h5>
          <!-- <h6 class="ranking">Current ranking: <ion-chip>
              <ion-label>2</ion-label>
            </ion-chip>
          </h6> -->
        </div>
        <ion-button expand="full" color="danger" (click)="signOut()">LogOut</ion-button>

      </div>
    </div>
</ion-content>
