
<ion-content class="ion-padding ion-align-items-center" >

  <ion-card class="login-div">
    <div class="logo"></div>
    <div class="title">Client Application</div>
    <div class="sub-title">Login</div>
    <form [formGroup]="credentialForm">
    <div class="fields">
      <div class="username">
        <ion-input
          type="username"
          class="user-input username ion-padding"
          placeholder="Email address"
          formControlName="email"
          autofocus="true"
          clearInput="true"
        ></ion-input>
      </div>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors" >
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      <div class="password">
        <ion-input
        type="password"
        class="pass-input password ion-padding"
        placeholder="password"
        formControlName="password"
        clearInput="true"
        autofocus="true"
        ></ion-input>
      </div>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>
    <button class="signin-button" (click)="signIn()">Login</button>
    <div class="link">
      <!-- <a href="#">Forgot password?</a> or <a routerLink="/register">Sign up</a> -->
      <a routerLink="/register">Sign up</a>
    </div>
  </form>
  </ion-card>


</ion-content>

