
<ion-tabs class="tab-container">
  <ion-tab-bar slot="bottom" class="no-border router-container">

    <ion-tab-button tab="order" class="order-tab-left">
      <ion-icon name="pricetags-outline" class="productList"></ion-icon>
      <!-- <ion-label>Products</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="view-list">
      <ion-icon name="list-outline" class="productList"></ion-icon>
      <!-- <ion-label>Transaction</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="order-list" class="order-tab-right">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" class="order-tab-right">
      <ion-icon name="people" class="productList"></ion-icon>
      <!-- <ion-label>Profile</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

  <!-- <ion-segment color="default" value="call">
    <ion-tab-button tab="order" class="order-tab">
      <ion-segment-button value="call" layout="icon-bottom"  >
        <ion-icon name="call"></ion-icon>
        <ion-label>Call</ion-label>
      </ion-segment-button>
    </ion-tab-button>



    <ion-tab-button tab="view-list">
      <ion-segment-button value="favorite" layout="icon-bottom" tab="view-list">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Favorite</ion-label>
      </ion-segment-button>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-segment-button value="map" layout="icon-bottom" tab="profile">
        <ion-icon name="pin"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-segment-button>
    </ion-tab-button>

  </ion-segment> -->

</ion-tabs>
