
<ion-header class="ion-no-border" color="default" >
  <ion-toolbar class="no-border header"  >
    <ion-buttons style="margin: 0 auto;">
      <ion-button color="secondary">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
           Water Station
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen >
  <ion-list>
    <ion-item *ngFor="let product of productList " (click)="openIonModal(product)">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <img height="auto" width="100%" src="{{product.img}}" >
          </ion-col>
          <ion-col size="9" >
            <div class="absolute-center">
              <ion-label ><b>{{product.product_name}}</b></ion-label>
              <ion-label color="primary">PHP {{product.price}} </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
