
.container-div {
  display: flex;
  flex-direction: column;
   padding: 60px 35px 35px 35px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1,
              -13px -13px 20px #ffffff;

}

.margin-top{
  margin-top: 61px;
  margin-bottom:61px;
}

.product_name{
  position: absolute;
  top: 24%;
  left: 41%;
  width: 165px;
  height: 44px;
  font-size: 1em;
  color: #161617;
  font-family: initial;
  font-weight: 900;
  text-align: center;

}




// .card-visible {
//   overflow: visible;
// }

.neumorphic {
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);

    margin:20px;
  overflow: hidden;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
}


.absolute-center {
  width: 100%;
  height: 100%;
  //overflow: auto;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 30px;
}



body{
  background-color:#222831;
  padding:2em;
}

div.neu{
  font-family: 'Jost', sans-serif;
  color:white;
  display:block;
  margin:0 auto;
  padding: 1.8em;
  background-color:#232931;
  box-shadow: -2px -2px 8px 1px rgba(161,161,201,0.2),
    2px 2px 8px 1px rgba(0,0,0,0.8);
  display:flex;
  flex-direction:row;

  .header{
    font-size:1em;
    display:flex;
    flex:1 1;
    text-align:left;
    float:left;
    display:inline-block;
  }

}












