<ion-header>
  <ion-toolbar>
    <ion-title>Product Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col >
        <ion-card  class="ion-no-padding no-border">
          <form [formGroup]="productForm" >
            <div class="ion-no-padding" style="position: relative;">
              <img src="{{prodImage}}"  />
              <ion-card-content>
                <ion-card  class="ion-no-padding">
                  <ion-list>
                    <ion-item>
                      <ion-label>Product Name:</ion-label>
                      <ion-text slot="end">{{proName}}</ion-text>
                      <ion-input formControlName="product_name"  readOnly></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Product Weight:</ion-label>
                      <ion-text slot="end">{{prodQuantity}}</ion-text>
                    </ion-item>
                    <ion-item>
                      <ion-label>Price</ion-label>
                      <ion-badge slot="end">{{prodPrice}}</ion-badge>
                    </ion-item>
                  </ion-list>
                </ion-card>

                  <ion-button color="secondary"class="position-container">
                    <ion-label (click)="addOrder()"> <ion-icon name="add-circle-outline"></ion-icon> Add Item</ion-label>
                  </ion-button>

              </ion-card-content>
            </div>
          </form>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
