
<ion-content class="ion-padding" >
    <ion-grid>
      <ion-row>
        <form [formGroup]="productForm" (ngSubmit)="addOrder()" novalidate>
          <div class="ion-no-padding" style="position: relative;">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img height="auto" width="100%" src="{{prodImage}}" >
                </ion-col>
                <ion-col size="9">
                      <ion-list>
                        <ion-item>
                          <ion-label>Product Name:</ion-label>
                          <ion-input slot="end" formControlName="product_name"  readOnly></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label>Weight:</ion-label>
                          <ion-text slot="end">{{prodQuantity}}</ion-text>
                        </ion-item>
                        <ion-item>
                          <ion-label>Price</ion-label>
                          <ion-badge slot="end">{{prodPrice}}</ion-badge>
                        </ion-item>
                        <ion-item lines="full">
                          <ion-label >Quantity</ion-label>
                          <ion-input min="0" (change)='getQ($event)' class="primary" slot="end" style="text-align: end;" formControlName="quantity" autofocus="true" clearInput="true" type="number" required></ion-input>
                        </ion-item>
                        <div *ngIf="(quantity.dirty || quantity.touched) && quantity.errors" class="errors">
                          <span *ngIf="quantity.errors?.required">Quantity  is required</span>
                        </div>
                        <ion-item>
                          <ion-label>TOTAL PRICE:</ion-label>
                          <ion-badge slot="end">{{total}}</ion-badge>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                      <ion-button type="submit" color="secondary"  expand="block">Add Item</ion-button>
                      <ion-button type="submit" class="btn-danger "  expand="block" (click)="closeModel()">Cancel</ion-button>
                    </ion-list>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </form>
      </ion-row>
    </ion-grid>


</ion-content>
