
<ion-header class="ion-no-border header-style" color="default">
  <ion-toolbar class="no-border header" >
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="../../../assets/images/profile.png">
    </ion-avatar>
    <ion-label>
      <p>Hello,</p>
      <h3 style="color:white">{{fn}}</h3>
    </ion-label>
  </ion-item>

    <ion-buttons slot="end" (click)="signOut()">
      <ion-button class="bordered" fill="solid" style="--background: blue;">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <div class="logo"></div>
</ion-header>

  <ion-content fullscreen class="content-style" >
    <ion-list style="background: #0000ff!important;margin-top:0!important">
      <ion-list-header class="center-list-header">
        <ion-label>Transaction List</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let tran of transactionList">
        <ion-avatar slot="start">
          <img src="../../../assets/images/image1.png">
        </ion-avatar>
        <ion-label>
          <h2>Transaction No:{{tran.id}} </h2>
          <h3>Estimated Delivery Date:{{tran.estimatedDelivery }}</h3>
          <ion-item >

            <!-- <ion-badge color="danger">{{tran.orderStatus}}</ion-badge> -->
            <ion-badge color="danger" *ngIf="tran.orderStatus === 'Cancelled'">{{tran.orderStatus}}</ion-badge>
            <ion-badge color="primary" *ngIf="tran.orderStatus === 'Pending'">{{tran.orderStatus}}</ion-badge>
            <ion-badge color="warning" *ngIf="tran.orderStatus === 'Delivery'">{{tran.orderStatus}}</ion-badge>
          </ion-item>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
