
<ion-header class="ion-no-border header-style" color="default">
  <ion-toolbar class="no-border header" >
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="../../../assets/images/profile.png">
    </ion-avatar>
    <ion-label>
      <p>Hello,</p>
      <h3>{{fn}}</h3>
    </ion-label>
  </ion-item>

    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" style="--background: blue;">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <div class="logo"></div>
</ion-header>

  <ion-content fullscreen class="content-style" >
    <ion-list>
      <ion-list-header>
        Transaction List
      </ion-list-header>

      <ion-item *ngFor="let tran of transactionList">
        <ion-avatar slot="start">
          <img src="../../../assets/images/image1.png">
        </ion-avatar>
        <ion-label>
          <h2>Transaction No:{{tran.id}} </h2>
          <h3>Estimated Delivery Date:{{tran.estimatedDelivery }}</h3>
          <ion-item >

            <ion-badge color="danger">{{tran.orderStatus}}</ion-badge>
          </ion-item>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
