<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ClientApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="register-div">
    <div class="logo"></div>
    <div class="title">Client Application</div>
    <div class="sub-title">Registration </div>
    <form [formGroup]="credentialForm">
    <div class="fields">
      <div class="username">
        <ion-input
          class="user-input username ion-padding"
          placeholder="Email address"
          formControlName="email"
          autofocus="true"
          clearInput="true"
        ></ion-input>
      </div>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>

      <div class="username">
        <ion-input
        placeholder="Password"
        type="password"
        formControlName="password"
        clearInput="true"
        class="user-input username ion-padding"
      ></ion-input>
      </div>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>

      <div class="username">
        <ion-input
        type="text"
          placeholder="Full Name"
          formControlName="fullName"
          autofocus="true"
          clearInput="true"
          class="user-input username ion-padding"
        ></ion-input>
      </div>
      <div *ngIf="(fullName.dirty || fullName.touched) && fullName.errors" class="errors">
        <span *ngIf="fullName.errors?.required">Full Name is required</span>
        <span *ngIf="fullName.errors?.minlength">Full Name needs to be 6 characters</span>
      </div>
      <div class="username">
        <ion-input
        type="text"
        placeholder="Contact Number"
        formControlName="contactNumber"
          autofocus="true"
          clearInput="true"
          class="user-input username ion-padding"
        ></ion-input>
      </div>
      <div *ngIf="(contactNumber.dirty || contactNumber.touched) && contactNumber.errors" class="errors">
        <span *ngIf="contactNumber.errors?.required">Contact Number is required</span>
        <span *ngIf="contactNumber.errors?.minlength">Contact Number needs to be 6 characters</span>
      </div>
    </div>
    <button class="signin-button" (click)="signUp()">Submit</button>
    <div class="link">
      <!-- <a href="#">Forgot password?</a> or <a routerLink="/register">Sign up</a> -->
      <a routerLink="/login">Login</a>
    </div>
  </form>
  </ion-card>


</ion-content>
