<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ClientApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="credentialForm">
    <ion-item>
      <ion-input
        placeholder="Email address"
        formControlName="email"
        autofocus="true"
        clearInput="true"
      ></ion-input>
    </ion-item>
    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required">Email is required</span>
      <span *ngIf="email.errors?.email">Email is invalid</span>
    </div>

    <ion-item>
      <ion-input
      placeholder="Password"
      type="password"
      formControlName="password"
      clearInput="true"
    ></ion-input>
    </ion-item>
    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required">Password is required</span>
      <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
    </div>

    <ion-item>
      <ion-input
      placeholder="Full Name"
      type="text"
      formControlName="fullName"
      clearInput="true"
    ></ion-input>
    </ion-item>
    <div *ngIf="(fullName.dirty || fullName.touched) && fullName.errors" class="errors">
      <span *ngIf="fullName.errors?.required">Full Name is required</span>
      <span *ngIf="fullName.errors?.minlength">Full Name needs to be 6 characters</span>
    </div>


    <ion-item>
      <ion-input
      placeholder="Contact Number"
      type="text"
      formControlName="contactNumber"
      clearInput="true"
    ></ion-input>
    </ion-item>
    <div *ngIf="(contactNumber.dirty || contactNumber.touched) && contactNumber.errors" class="errors">
      <span *ngIf="contactNumber.errors?.required">Contact Number is required</span>
      <span *ngIf="contactNumber.errors?.minlength">Contact Number  needs to be 12 characters</span>
    </div>
  </form>

    <ion-button (click)="signUp()" expand="full">Sign up</ion-button>
    <a routerLink="/tabs/login">Login</a>

</ion-content>
